<nav>
  <ul>
    <li>
      <a href="index.html">Home</a>
      <ul class="nav-sub">
        <li class="nav-category">Bench Top Signal Generators</li>
        <li><a href="409B.html">409B</a></li>
        <li><a href="409C.html">409C</a></li>
        <li><a href="426A.html">426A</a></li>
        <li class="nav-category">Signal Generator Boards</li>
        <li><a href="DDS9m.html">DDS9m</a></li>
        <li><a href="DDS8mh.html">DDS8mh</a></li>
        <li class="nav-category">Rack Mount Frequency Standard</li>
        <li><a href="1450B.html">1450B</a></li>
      </ul>
    </li>
    <li><a href="price-list.html">Price List</a></li>
    <li><a href="downloads.html">Downloads</a></li>
    <li><a href="app-notes.html">App Notes</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
</nav>
